In [1]:
import pandas as pd

In [4]:
pdata = pd.read_csv('data/2024pitcherpreds.csv', index_col = 0)
bdata = pd.read_csv('data/2024batterpreds.csv', index_col = 0)

In [8]:
bothdata = pd.concat([pdata, bdata], ignore_index = True)
bothdata = bothdata.drop(columns = ['index'])
bothdata.head()

                Name     Fpoints   rank
0   Wainwright, Adam  107.642634  320.0
1        Adam, Jason  129.958568  239.0
2      Greinke, Zack  162.762064  167.0
3  Verlander, Justin  452.371974    8.0
4     Jansen, Kenley  150.621492  193.0

In [13]:
rankdata = bothdata.sort_values(by = 'Fpoints', ascending = False)
rankdata['rank'] = bothdata['Fpoints'].rank(ascending = False)
rankdata.head(50)

                       Name     Fpoints  rank
404           Bieber, Shane  515.762618   1.0
516           Ramírez, José  512.477374   2.0
517        Freeman, Freddie  507.695425   3.0
518            Judge, Aaron  503.653550   4.0
394          Burnes, Corbin  503.143026   5.0
519       Goldschmidt, Paul  496.258914   6.0
520           Betts, Mookie  495.630348   7.0
521     Tatis Jr., Fernando  487.452247   8.0
522         Witt Jr., Bobby  483.452268   9.0
141             Nola, Aaron  475.523613  10.0
523         Alvarez, Yordan  475.172740  11.0
524         Carroll, Corbin  466.809317  12.0
383             Gallen, Zac  465.449791  13.0
525              Soto, Juan  462.638351  14.0
440        Strider, Spencer  457.239336  15.0
526          Machado, Manny  456.704918  16.0
195          Castillo, Luis  455.127648  17.0
29              Darvish, Yu  453.553558  18.0
527            Alonso, Pete  452.781522  19.0
3         Verlander, Justin  452.371974  20.0
528          Arenado, Nolan  447.942683  21.0
529            Altuve, Jose  446.843338  22.0
34           Kelly, Merrill  444.272820  23.0
530            Tucker, Kyle  441.669125  24.0
531           Bregman, Alex  440.712762  25.0
532           Harper, Bryce  440.443779  26.0
533        Rodríguez, Julio  439.325734  27.0
534          Devers, Rafael  438.451374  28.0
535  Guerrero Jr., Vladimir  434.558491  29.0
536            Turner, Trea  432.440615  30.0
97           Gausman, Kevin  429.441649  31.0
537             Trout, Mike  426.619089  32.0
252         Peralta, Freddy  425.569645  33.0
130          Bassitt, Chris  422.474612  34.0
413           Kirby, George  412.912676  35.0
538    Springer III, George  408.296216  36.0
348         Valdez, Framber  406.968442  37.0
539      Chisholm Jr., Jazz  405.434012  38.0
398          Gilbert, Logan  400.555502  39.0
540          Semien, Marcus  398.221421  40.0
12              Lynn, Lance  397.461987  41.0
541       Lindor, Francisco  395.586920  42.0
211            Maeda, Kenta  395.229888  43.0
162              Fried, Max  394.144641  44.0
542          Ohtani, Shohei  392.949072  45.0
543            Arraez, Luis  392.794824  46.0
544           Riley, Austin  390.570706  47.0
361            Ragans, Cole  389.391525  48.0
545       Henderson, Gunnar  386.804642  49.0
226      Cortes Jr., Nestor  378.375441  50.0

In [14]:
rankdata.to_csv('data/finalranks.csv')