In [1]:
import pandas as pd

In [2]:
stats = pd.read_csv("data/p_fpoints.csv", index_col = 0)
metrics = pd.read_csv("data/pmetrics24.csv")
metrics.head()

,"last_name, first_name",player_id,year,xwoba,xobp,xwobacon,xbacon,exit_velocity_avg,launch_angle_avg,sweet_spot_percent,...,oz_swing_percent,oz_swing_miss_percent,iz_contact_percent,edge_percent,whiff_percent,swing_percent,f_strike_percent,groundballs_percent,flyballs_percent,linedrives_percent
0,"Colon, Bartolo",112526,2015,0.314,0.294,0.368,0.326,88.9,11.8,34.1,...,31.8,20.4,87.0,42.1,14.4,48.6,66.6,44.1,23.2,27.0
1,"Hawkins, LaTroy",115629,2015,0.289,0.281,0.354,0.321,89.6,7.0,23.1,...,29.8,29.3,86.9,46.9,17.0,51.9,60.5,55.4,18.2,20.7
2,"Wolf, Randy",150116,2015,0.376,0.376,0.428,0.380,89.0,10.3,41.0,...,28.7,30.6,91.1,44.1,16.2,46.5,54.0,46.2,17.9,30.8
3,"Marquis, Jason",150302,2015,0.309,0.317,0.353,0.327,90.4,7.5,28.0,...,30.0,31.6,82.9,44.3,21.3,46.1,54.2,48.8,17.1,30.5
4,"Burnett, A.J.",150359,2015,0.323,0.326,0.375,0.338,89.8,5.6,30.4,...,26.7,45.1,86.9,42.1,21.1,45.1,60.8,55.0,14.1,26.8

In [3]:
stats.head()

,Name,year,age,IP,H,K,BB,ER,S,W,L,Hold,Fpoints,Fpoints_IP
0,"Colon, Bartolo",2015,42,194.2,217,136,24,90,0,14,13,0,297.6,1.532441
1,"Hawkins, LaTroy",2015,42,38.2,44,34,7,14,3,3,1,7,69.6,1.821990
2,"Wolf, Randy",2015,38,34.2,46,28,15,24,0,0,5,1,21.6,0.631579
3,"Marquis, Jason",2015,36,47.1,64,37,14,34,0,3,4,0,32.3,0.685775
4,"Burnett, A.J.",2015,38,164.0,174,143,49,58,0,9,7,0,296.0,1.804878

In [4]:
metrics = metrics.rename(columns = {'last_name, first_name':'Name'})
metrics = metrics.drop(columns = ['player_id'])
metrics['year'] = metrics['year'] + 1
metrics = metrics[metrics['year'] < 2024]
stats = stats[stats['year'] > 2015]
metrics.head()

,Name,year,xwoba,xobp,xwobacon,xbacon,exit_velocity_avg,launch_angle_avg,sweet_spot_percent,barrel_batted_rate,...,oz_swing_percent,oz_swing_miss_percent,iz_contact_percent,edge_percent,whiff_percent,swing_percent,f_strike_percent,groundballs_percent,flyballs_percent,linedrives_percent
0,"Colon, Bartolo",2016,0.314,0.294,0.368,0.326,88.9,11.8,34.1,5.4,...,31.8,20.4,87.0,42.1,14.4,48.6,66.6,44.1,23.2,27.0
1,"Hawkins, LaTroy",2016,0.289,0.281,0.354,0.321,89.6,7.0,23.1,5.0,...,29.8,29.3,86.9,46.9,17.0,51.9,60.5,55.4,18.2,20.7
2,"Wolf, Randy",2016,0.376,0.376,0.428,0.380,89.0,10.3,41.0,5.1,...,28.7,30.6,91.1,44.1,16.2,46.5,54.0,46.2,17.9,30.8
3,"Marquis, Jason",2016,0.309,0.317,0.353,0.327,90.4,7.5,28.0,2.4,...,30.0,31.6,82.9,44.3,21.3,46.1,54.2,48.8,17.1,30.5
4,"Burnett, A.J.",2016,0.323,0.326,0.375,0.338,89.8,5.6,30.4,4.8,...,26.7,45.1,86.9,42.1,21.1,45.1,60.8,55.0,14.1,26.8

In [5]:
fpts = stats[['Name','Fpoints_IP', 'year']]
fpts.head()

                Name  Fpoints_IP  year
500   Colon, Bartolo    1.692469  2016
501    Grilli, Jason    2.169492  2016
502  Benoit, Joaquin    2.187500  2016
503    Belisle, Matt    2.217391  2016
504     Sabathia, CC    1.655134  2016

In [6]:
both = fpts.merge(metrics, on = ['Name', 'year'])
both.head()

,Name,Fpoints_IP,year,xwoba,xobp,xwobacon,xbacon,exit_velocity_avg,launch_angle_avg,sweet_spot_percent,...,oz_swing_percent,oz_swing_miss_percent,iz_contact_percent,edge_percent,whiff_percent,swing_percent,f_strike_percent,groundballs_percent,flyballs_percent,linedrives_percent
0,"Colon, Bartolo",1.692469,2016,0.314,0.294,0.368,0.326,88.9,11.8,34.1,...,31.8,20.4,87.0,42.1,14.4,48.6,66.6,44.1,23.2,27.0
1,"Grilli, Jason",2.169492,2016,0.275,0.275,0.380,0.337,88.4,22.1,34.1,...,34.8,43.1,75.7,46.7,29.9,52.1,61.4,27.1,30.6,29.4
2,"Benoit, Joaquin",2.187500,2016,0.271,0.276,0.316,0.272,84.8,11.3,26.5,...,37.0,49.1,75.9,41.6,33.6,52.1,53.9,47.6,20.5,22.9
3,"Belisle, Matt",2.217391,2016,0.297,0.335,0.308,0.299,86.9,7.4,34.0,...,28.0,30.2,83.7,43.4,20.0,45.5,67.1,54.7,21.7,21.7
4,"Sabathia, CC",1.655134,2016,0.304,0.311,0.345,0.318,87.8,10.7,29.1,...,31.0,34.6,84.2,46.3,21.4,46.2,62.5,48.2,20.5,25.3

In [7]:
both.to_csv("data/p_combined.csv")